body {
    transition: background-color 0.5s ease;
}

#background-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.imagem-botao {
    width: 120px;
    height: auto;
}

.linha {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 103px; 
    background-color: #5B0B9B; 
    z-index: 999; 
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    margin-top: 15%;
}

#outputText {
    border: 1px solid #ccc;
    min-height: 50px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    font-family: "Inter", sans-serif;
    color: #5B0B9B;
    position: absolute;
    top: 1%;
    left: 43%;
    font-size: 80px; 
    height: auto;
}  

.baixo {
    font-family: "Inter", sans-serif;
    margin-top: 17.8%;
    margin-left: 45%;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.text-container {
    font-family: "Inter", sans-serif;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
    margin-top: 16%;
    position: relative;
}

.inline-image{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    height: 50px;
}